<p id="notice"><%= notice %></p>

<p>
  <b>Customer:</b>
  <%= @order.customer %>
</p>

<p>
  <b>Product:</b>
  <%= @order.product_id %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Date:</b>
  <%= @order.date %>
</p>

<p>
  <b>Time:</b>
  <%= @order.time %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
