<header>
        <nav class="round">
          <ul>  
            <li><%= link_to "Home", home_path %></li>      
            <li><%= link_to "New order", addorder_path %></li>
            <li><%= link_to "New product", addproduct_path %></li>
            <li><%= link_to "View orders", vieworders_path %></li>
            <li><%= link_to "View products", viewproducts_path %></li>
          </ul>
        </nav>
      </header>